/* style.css */
body {
    width: 200px;
    height: 250px;
    padding: 10px;
  }
  
  #content {
    text-align: center;
  }
  
  input {
    width: 80%;
    margin: 10px 0;
  }
  
  button {
    margin-top: 10px;
  }
  